<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"/>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script> 
  </head>
  <body>
    <!-- Navbar with bootstrap -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <% if(title == "Home"){  %>
              <a class="nav-link active" href="/">Home</a>
            <% } else { %>  
              <a class="nav-link" href="/">Home</a>
            <% } %>
            </li>
            <li class="nav-item">
            <% if(title == "Projects"){  %>
              <a class="nav-link active" href="/projects">Projects</a>
            <% } else { %>  
              <a class="nav-link" href="/projects">Projects</a>
            <% } %>
            </li>
          <li class="nav-item dropdown">            
            <% if (title == "Projects"){ %>
            <a class="nav-link dropdown-toggle active" href="/projects" role="button" data-bs-toggle="dropdown">Projects</a>
            <% } else { %>  
            <a class="nav-link dropdown-toggle" href="/projects" role="button" data-bs-toggle="dropdown">Projects</a>
            <% } %>
              <ul class="dropdown-menu">
              <li>
                <% if (title == "Assignment1"){ %>
                <a class="dropdown-item active" href="/assignment1">Assignment 1</a>
                <% } else { %>
                <a class="dropdown-item" href="/assignment1">Assignment 1</a>
                <% } %>
              </li>
              <li>
                <% if (title == "Assignment2"){ %>
                <a class="dropdown-item active" href="/assignment2">Assignment 2</a>
                <% } else { %>
                <a class="dropdown-item" href="/assignment2">Assignment 2</a>
                <% } %>
              </li>
              <li>
                <% if (title == "Assignment3"){ %>
                <a class="dropdown-item active" href="/assignment3">Assignment 3</a>
                <% } else { %>
                <a class="dropdown-item" href="/assignment3">Assignment 3</a>
                <% } %>
              </li>
            </ul>
          </li>
          </li>
          <li class="nav-item">
            <% if(title == "Services"){  %>
              <a class="nav-link active" href="/services">Services</a>
            <% } else { %>  
              <a class="nav-link" href="/services">Services</a>
            <% } %>
          </li>
          <li class="nav-item">
            <% if(title == "About Me"){  %>
              <a class="nav-link active" href="/about">About Me</a>
            <% } else { %>  
              <a class="nav-link" href="/about">About Me</a>
            <% } %>
          </li>
          <li class="nav-item">
            <% if(title == "Contact"){  %>
              <a class="nav-link active" href="/contact">Contact</a>
            <% } else { %>  
              <a class="nav-link" href="/contact">Contact</a>
            <% } %>
          </li>
          <li class="nav-item">
            <% if(title == "Julio"){  %>
              <a class="nav-link active" href="/users/julio">User</a>
            <% } else { %>  
              <a class="nav-link" href="/users/julio">User</a>
            <% } %>
          </li>
        </ul>
      </div>
    </nav>