<% include partials/header.ejs %>
<div class="container pt-5">
    <h1><%= title %></h1>
</div>
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container pt-5">
      <ul class="navbar-nav">
        <li class="nav-item">
          <% if(title == "Assignment 1"){  %>
            <a class="nav-link active" href="/assignment1">BMR Calculator</a>                                                             
          <% } else { %>  
            <a class="nav-link" href="/assignment1">BMR Calculator</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if(title == "Assignment 2"){  %>
            <a class="nav-link active" href="/assignment2">Nature Wallpapers</a>
          <% } else { %>  
            <a class="nav-link" href="/assignment2">Nature Wallpapers</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if(title == "Assignment 3"){  %>
        <a class="nav-link active" href="/assignment3">Registration Form</a>
          <% } else { %>  
        <a class="nav-link" href="/assignment3">Registration Form</a>
          <% } %>
        </li>
      </ul>
    </div>
  </nav>                         
<% include partials/footer.ejs %>
 
