/* nav */
body{
    background-image: url("images/BMRhealth.jpg");
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
header{
    width: auto;
    padding: 10px;
    background:#144490;
    text-align: center;
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}
h1{
    color:white;
    font-variant-caps: small-caps;
    font-weight: 500;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}
h2{
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}
h3{
    font-weight: bolder;
    text-align: center;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
}
/*-- Navigating Menu --*/
.topnav {
    background-color: #1D2057;
    overflow: hidden;
    text-align: center;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
    }
    .topnav a {
    float: center;
    color: #cccccc;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
    font-size: 17px;
    }
    .topnav a:hover {
    background-color: #269cd3;
    color: #ffffff;
    }
#container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding: 3px;
}
#imperialTab {
    width: 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    display: inline-block;
}
#metricTab {
    width: 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    display: inline-block;
    margin-left: -5px;
}
#form {
    background-color: #8DE6E4;
    padding: 3%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
    margin-bottom: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#topFormI {
    padding-left: 25%;
    line-height: 27px;
} 

#topFormM {
    padding-left: 25%;
    line-height: 27px;
    display: none;
}

#middleForm {
    margin-top: 10px;
    line-height: 25px;
}

#bottomForm {
    text-align: center;
    margin-top: 10px;
}

input[type=number] {
    width: 60px;
    display: inline-block;
}

select[name="gender"] {
    width: 100px;
}
td {
    padding-left: 10px;
    padding-right: 10px;
}
#result {
    background-color:#f0e386;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 3%;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
    line-height: initial;
}
#bmrResult, #caloricResult {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#bmr, #caloricR {
    font-size: x-large;
    color: rgb(38, 109, 38);
    font-weight: bold;
    padding: 5px;
}
p {
    margin-bottom: auto !important;
    margin-top: 5px !important;
}
/* footer */
footer {
    background-color: white;
    align-self: center;
    text-align: center;
    font-size: 0.9em;
    color: rgb(0, 0, 0);
    margin-top: 0px;
    padding-bottom: 5px;
}
/*Change tab function*/
.tablinks {
    cursor: pointer;
    transition: 0.3s;
    background-color: #F4E145;
}
.tablinksactive {
    background-color: #8DE6E4;
}
.tablinks:hover {
    background-color: #F9BC51 !important;
    transition: 0.3s;
}
h4 {    
    font-size: 1.5em !important;
    text-align: center;
    color:#1D2057 ;
    padding-bottom: 5px;
    margin-bottom: auto !important;
}
#description {
    font-size: 15px;
    padding: 5px;
}